# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# MkDocs build directory
/site
.cache/

# IDE/editor
.vscode/
.idea/


# Obsidian
*.obsidian/

# Secret
secret.md
# nothing to see here