{% if page and page.meta %}
  <aside class="md-source-file">
    {% if page.meta.git_revision_date_localized and page.meta.git_revision_date_localized_hash %}
      <div class="md-source-file__fact">
        <span class="md-icon" title="Last update">
          {% include ".icons/material/clock-edit-outline.svg" %}
        </span>
        <a href="https://github.com/Master3307/masterrc/commit/{{ page.meta.git_revision_date_localized_hash }}"
           target="_blank"
           rel="noopener"
           title="View commit on GitHub">
          {{ page.meta.git_revision_date_localized }}
        </a>
      </div>
    {% endif %}
  </aside>
{% endif %}